{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Iniciar Sesion | Registrarse</title>
  
   <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
   <div class="formulario">
      <h1>Inicio de Sesion</h1>
      <form method="post">
         {% csrf_token %}
         <div class="username">
            <input type="text" required>
            <label>Nombre de Usuario</label>
         </div>
         <div class="contraseña">
            <input type="password" required>
            <label>Contraseña</label>
         </div>
         <input type="submit" class="btn btn-primary" value="Iniciar Sesion">
         <a href="{% url 'inicio' %}"></a>
      <div class="registrarse">
         Registrate <a href="{% url 'registrar' %}"> Aqui</a>

      </div>
      </form>
   </div>
</body>
</html>